spring:
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo

  application:
    name: genai



  datasource:
    url: jdbc:postgresql://localhost:5432/bookstore
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false


  sql:
    init:
      mode: always
      schema-location: classpath:/schema.sql


logging:
  level:
    '[org.springframework.ai]': INFO
    '[org.springframework.boot.autoconfigure]': INFO
    '[org.springframework.web]': INFO
    '[org.springframework.web.filter.CommonsRequestLoggingFilter]': DEBUG

server:
  port: 8080

